<div class="about">
    <div id="container">
        <div id="content" class="team">
            <div id="header_about" class="content">
                <a class="banner" href="/user/home.html"><img style="width:400px;" src="/assets/rendezvousHeader.png" alt="Rendezvous" /></a>
                <div id="nav">
                    <ul>
                        <li><a class="headerLink" href="/user/support.html">Support</a></li>
                        <li><a class="headerLink" href="/user/about.html">About</a></li>
                        <li><a class="headerLink" href="/user/home.html">Home</a></li>
                    </ul>
                </div> <!-- nav -->
            </div> <!-- header_about -->
            
            
        <div id="intro-container">
            <div id="intro" class="content">
                <h1>About Rendezvous</h1>
                <p>
                    Team Rendezvous is building the ultimate dating application for college students. 
                </p>
                <p>
                Rendezvous was build by 4 Stanford students in Computer Science. <br/>
                The premise of our application is that the model of matching strangers with strangers on conventional dating sites like match.com and eHarmony does not translate well to college students. Instead, <a href="http://www.collegetocareers.com/wp-content/uploads/2011/06/College-Students.jpg" target="_blank">college students </a> already have people that they are interested in, whom they have met in class or at parties, but may find it difficult to work up the courage to ask that person out on a date, because of fear of rejection or nervousness. Rendezvous overcomes this problem by allowing students to specify a confidential list of people they are interested in dating. The people specified have no idea that the user is interested in dating them. However, if any of these people also confidentially specify the original student, then Rendezvous matches the two students and notifies them of their mutual interest promptly. In this way, Rendezvous hopes to overcome the anxiety and possibility of being rejected by the person they are interested in.
                </p>
                <div id="team-photo-container" class="team"></div>
            </div> <!-- /intro -->
        </div> <!-- /intro-container -->
    </div>
    </div> <!-- container -->
</div> <!-- about -->
