<div class="about">
    <div id="container">
        <div id="content" class="team">
            <div id="header_about" class="content">
                <a class="banner" href="/user/home.html"><img style="width:400px;" src="/assets/rendezvousHeader.png" alt="Rendezvous" /></a>
                <div id="nav">
                    <ul>
                        <li><a class="headerLink" href="/user/support.html">Support</a></li>
                        <li><a class="headerLink" href="/user/about.html">About</a></li>
                        <li><a class="headerLink" href="/user/home.html">Home</a></li>
                    </ul>
                </div> <!-- nav -->
            </div> <!-- header_about -->
            
            
        <div id="intro-container">
            <div id="intro" class="content">
                <h1> Rendezvous is pending approval on the App Store</h1>
                <p>
                    Stay tuned for our iPhone app's official release. Meanwhile, register if you haven't or check out our <a href="/user/home"> home </a> page with the video!
                </p>
                <br/>
                <a href="https://graph.facebook.com/oauth/authorize?type=web_server&display=touch&scope=offline_access,user_photos,friends_photos,sms,user_location &client_id=235693846448097&redirect_uri=http://rendezvousnow.me/facebookcallback.php">
                <img alt="Sign up to Rendezvous" src="/assets/Rendezvous_Signin.png">
                </a>

            </div> <!-- /intro -->
        </div> <!-- /intro-container -->
    </div>
    </div> <!-- container -->
</div> <!-- about -->
