
<div id="container">
	<div id="iphone" style="margin-left: 768px;">
		<img class="phone active" src="/assets/rendezvous-screenshot-1.jpg"/>
		<img class="phone" src="/assets/rendezvous-screenshot-2.jpg" />
		<img class="phone" src="/assets/rendezvous-screenshot-3.jpg" />
		<img class="phone" src="/assets/rendezvous-screenshot-4.jpg" />
		<img class="phone" src="/assets/rendezvous-screenshot-5.jpg" />
		<img id="shell" src="/assets/iphone-frame-512-dither.png"/>
	</div>
	<div id="content">
        <ul id="mainContent" class="jcarousel-skin-name">
            <li>
                <div>
                    <h1>Meet Rendezvous.</h1>
                    <p>
                        The first dating app that lets you connect with friends you were too shy to ask out
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h1>Just for you.</h1>
                    <p>
                        Ness recommends restaurants by learning what you like - and what you don't.
                        The more you use Ness, the smarter and more personalized it gets.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h1>Smart.</h1>
                    <p>
                        Ness' Likeness Engine considers ratings, your reviews, and recommendations from friends
                        to suggest places you'll love.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h1>Better with friends.</h1>
                    <p>
                        Share old favorites and new discoveries.
                        Get helpful check-ins and tips from Facebook and Foursquare.
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h1>Follow your Ness.</h1>
                    <p>
                        It's free for the iPhone and any device running iOS 4.0 or higher.<br/>
                        Follow your Ness, see where it takes you.		
                    </p>
                </div>
            </li>
        </ul>
        <a id="download-appstore" class="" onclick="recordOutboundLink(this, 'App Store', 'from Home Get the App');return false;" href="http://itunes.apple.com/us/app/ness/id454869181?ls=1&mt=8" style="margin-left: 0px;">
		<span>Get the App</span>
		</a>
    </div> <!-- /content -->
   
</div>

<div id="background">
	<div id="bigRadial"></div>
    <div id="bigLinearLeft"></div>
	<ul id="background-items">
        <li id="peppers" 	class="item-container item1 active"><div></div></li>
        <li id="salad"  	class="item-container item2"><div></div></li>
        <li id="porkbuns" 	class="item-container item3"><div></div></li>
        <li id="tart" 		class="item-container item4"><div></div></li>
        <li id="cupcake" 	class="item-container item5"><div></div></li>
    </ul> <!-- /background-items -->
    <img class="bg" src="/assets/bg-texture.jpg" />
    <ul id="toggle">
        <li class="button active slide1"><a href="#"></a></li>
        <li class="button slide2"><a href="#"></a></li>
        <li class="button slide3"><a href="#"></a></li>
        <li class="button slide4"><a href="#"></a></li>
        <li class="button slide5"><a href="#"></a></li>
    </ul>
</div> <!-- /background -->