<div id="wrapper" class="home">
    <div id="header">
        <a id="title" href="/user/home">
            <img style= "width:600px" src="/assets/rendezvousHeader.png">
        </a>
    </div>
    <div >
        <div id="container" >
        	<div id="iphone" style="margin-left: 1000px;">
        		<img id="iphone1" class="phone active" src="/assets/rendezvous-screenshot-1.jpg"/>
        		<img id="iphone2" class="phone" src="/assets/rendezvous-screenshot-2.jpg" />
        		<img id="iphone3" class="phone" src="/assets/rendezvous-screenshot-3.jpg" />
        		<img id="iphone4" class="phone" src="/assets/rendezvous-screenshot-4.jpg" />
        		<img id="iphone5" class="phone" src="/assets/rendezvous-screenshot-6.jpg" />
                <img id="iphone6" class="phone" src="/assets/rendezvous-screenshot-5.jpg" />
        		<img id="shell" src="/assets/iphone-frame-512-dither.png"/>
        	</div>
        	<div id="content">

                <a class="facebook_sign_in" href="https://graph.facebook.com/oauth/authorize?type=web_server&display=touch&scope=offline_access,user_photos,friends_photos,sms,user_location &client_id=235693846448097&redirect_uri=http://rendezvousnow.me/facebookcallback.php"> 
                    <img src="/assets/Rendezvous_Signin.png" alt="Sign up to Rendezvous"> </img>
                </a>

            </div> <!-- /content -->
           
        </div>

        <div id="background">
             <!--
            <img class="bg" src="/assets/bg-texture.jpg" />
            -->
        </div>
        

        <script>
        	var mySlider = new Slider("iphone1", "iphone2", "iphone3", "iphone4", "iphone5", "iphone6", "arrowlagio", "content");
        </script>
    </div>
</div>